

.banner {
	height: 700px;
	width: 100%;
	background-image: url("../assets/images/taxi.jpg");
	background-size: cover;
	background-position: 20% 90%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.box-banner {
	display: flex;
	flex-direction: column; /*flexbox não é necessario para deixar os itens embaixo um do outro. Mesmo assim eu coloco isso? */ 
	height: 400px;
	width: 500px;
	background-color: #F7B617;
	color: white;
	padding: 40px;
}

.box-banner-div1 {
	margin-bottom: 20px;
}

.box-banner-div2 h2 {
	font-size: 20px;
	margin-bottom: 18px;
}

.box-banner-logo {
	height: 20px;  
	width: 90px;
	margin-left: 15px;
}

.btn {
	background-color: white;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.btn-register {
  text-transform: uppercase;
  margin-bottom: 18px;
}

.o-bien-box {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.app {
	height: 500px;
	width: 100%;
	background-color: #F7B617;
	display: flex;
	align-items: center;

}

.box-app{
	height: 400px; 
	width: 1100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-top: solid white 1px;
	border-right: solid white 2px;
	border-bottom: solid white 2px;
	color: white;
}

.image-app {
	/*display: flex;
	align-items: center;*/
}

.image-app img {
	height: 300px;
	width: auto;
}

.box-app h3, p {
	margin-bottom: 30px;
}

.drive {
	height: 400px;
	width: 100%;
	background-image: url("../assets/images/conduce.jpg");
	background-size: cover;
	background-position: 20% 50%;
}

.map {
	height: 400px;
	width: 100%;
	background-color: #F7B617;

}

footer {
	height: 600px; 
	width: 100%;
	background-color: #2B2B2B;
}
