

.banner {
	height: 700px;
	width: 100%;
	background-image: url("../assets/images/taxi.jpg");
	background-size: cover;
	background-position: 20% 90%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.box-banner {
	display: flex;
	flex-direction: column; /*flexbox não é necessario para deixar os itens embaixo um do outro. Mesmo assim eu coloco isso? */ 
	height: 400px;
	width: 500px;
	background-color: #F7B617;
	color: white;
	padding: 40px;
}

.box-banner-div1 {
	margin-bottom: 20px;
}

.box-banner-div2 h2 {
	font-size: 20px;
	margin-bottom: 18px;
}

.box-banner-logo {
	height: 20px;  
	width: 90px;
	margin-left: 15px;
}

.btn {
	background-color: white;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.btn-register {
  text-transform: uppercase;
  margin-bottom: 18px;
}

.o-bien-box {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.app {
	height: 500px;
	width: 100%;
	background-color: #F7B617;
	display: flex;
	align-items: center;

}

.box-app{
	height: 400px; 
	width: 1100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-top: solid white 1px;
	border-right: solid white 2px;
	border-bottom: solid white 2px;
	color: white;
}

.image-app img {
	height: 300px;
	width: auto;
}

.box-app h3, p {
	margin-bottom: 30px;
}

.drive {
	height: 400px;
	width: 100%;
	background-image: url("../assets/images/conduce.jpg");
	background-size: cover;
	background-position: 20% 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.drive-box {
	height: 400px;
	width: 400px;
	color: white;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 40px;

}

.drive-box h3 {
	opacity: 1.0; /*COMO FAZER ESSA OPACIDADE???*/
	z-index: 1;
}

.btn-driver {
	background-color: #F7B617;
	color: white;
	width: 250px;
}

.map {
	height: 500px;
	width: 100%;
	background-color: #F7B617;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.form-box{
	height: 400px; 
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-group {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.form-control{
	width: 300px;
	color: #fff;
	background-color: #F7B617;
}

.btn-form{
	text-align: center;
}


.btn-primary{
	color: black;
	text-transform: uppercase;
}

.map-box{
	height: 370px;
	width: 370px;
	border: solid;

}

.icon-right-dir, .icon-dot-circle-o {
	font-size: 25px;
	margin-right: 8px;
}

.icon {
	color: white;
	font-size: 20px;
	margin-right: 5px;
}

/*COR DO PLACEHOLDER*/
.form-control::placeholder {
    color: #fff;
    opacity: 1;  
}

/*
:-ms-input-placeholder {  Internet Explorer 10-11 
   color: #fff;
}

::-ms-input-placeholder { Microsoft Edge 
   color: #fff;
}
*/

footer{
	height: 600px; 
	width: 100%;
	background-color: #2B2B2B;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer{
	height: 75%;
	width: 90%;
	color: #fff;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #FFF;
    margin: 1em 0;
    padding: 0; 
}
